.paper {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  margin: 3px;
  background-color: aqua;
}
.form {
  width: 100%;
  margin-top: 24px;
}

.submit {
  margin: 24px;
  background-color: "#2EC4B6";
}
